<div id="<%=dom_id department%>">
  <h3 class="text-lg font-bold mb-4">department</h3>

  <p><%= department.name %></p>

  <p><%= department.motto %></p>

  <p><%= department.mission %></p>
  
</div>
